:root {
  --clr-font: #f2e9e4;
  --clr-bg: #272640;
  --clr-card: #212f45;
  --clr-start: #1a6b75;
  --clr-option: #a16e43;
}
body {
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--clr-font);
  background-image: linear-gradient(to top, #226666 0%, #2c1944 100%);
}
.home {
  display: grid;
  grid-template-columns: repeat(1, 400px);
  width: 400px;
  margin: 200px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
}
.wrapper {
  width: 700px;
  height: 700px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
}
.card {
  display: grid;
  grid-template-columns: repeat(1, 700px);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  color: var(--clr-font);
  background-color: hsl(182, 25%, 50%, 0.05);
  padding-top: 50px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  transition: all .25s;
  transform: translateX(-200%);
  position: absolute;

}
.card.prev {
  z-index: 10;
  transform: translateX(-100%);
}
.card.current {
  z-index: 10;
  transform: translateX(0);
}
.card.next {
  z-index: 10;
  transform: translateX(100%);
}
.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 1.7rem;
}
.options {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 100px);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.option {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--clr-option);
  border-radius: 10px;
  padding: 10px 40px;
  margin: 0 auto;
  width: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.option:hover {
  background-color: var(--clr-option);
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
  color: var(--clr-card);
}
.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  padding: 10px 40px;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  appearance: none;
  background: none;
  border: none;
  color: #2a9d8f;
  cursor: pointer;
}

@media screen and (max-width: 930px) {
  .options {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(4, 100px);
  }
}
